# Ignore o arquivo de variáveis reais
.env

# Não ignore o exemplo de variáveis de ambiente
!.env.example

# Ignore o próprio .gitignore (se desejar, caso queira ignorar a edição dele)
.gitignore

# Ignore o ambiente virtual
.venv/

# Ignore cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Outros arquivos temporários que geralmente não querem controle
*.swp
*.swo
